@model WebIdentity.ViewModels.ChangePasswordViewModel
@{
  ViewBag.Title = "Изменение пароля";
}
<h2>Изменение пароля для пользователя @Model.Email</h2>
<form action="ChangePassword" method="post">
  <input type="hidden" id="Id" name="Id" value="@Model.Id" />
  <input type="hidden" Id="Email" name="Email" value="@Model.Email" />
     
  <div class="form-group">
    <label for="OldPassword" class="control-label">Старый пароль</label>
    <input type="text" id="OldPassword" name="OldPassword" class="form-control" />
  </div>
  <div class="form-group">
    <label for="NewPassword" class="control-label">Новый пароль</label>
    <input type="text" id="NewPassword" name="NewPassword" class="form-control" />
  </div>
  <div class="form-group">
    <input type="submit" value="Сохранить" class="btn btn-default" />
  </div>
</form>